@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Caveat:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

h2 {
    font-family: 'Caveat', cursive;
    font-size: 36px;
}
header {
    display: grid;
    background-color: white;
    align-items: center;
    border-bottom: 1px solid black;
}
#menu {
    display: block;  /* first of hamburger code - turn off */
}
#menu {
    font-size: 1.5rem;
    border: 0;
    background-color: #201E20;
    color: white;
    position: fixed;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.logo img {
    width: 250px;
    height: auto;
    margin: 5px 5px 5px 5em;
    
}

header h1 {
    font-family: "Bungee Spice", sans-serif;
    font-size: 75px;
    margin:.5em auto 0 0
    
}

.navigation {
    display: flex;
    width: 100%;
    grid-column: 3 / 4;
}
/* tested to here with what I need for menu */
.navigation ul {
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
  
.navigation a {
    display: flex;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding-bottom: .5em;
    transition: border-color 0.3s;
    font-size: 16px;
    font-weight: bolder;
}

nav a:hover {
    border-color: black;
}

a.current {
    color: #FF780A;
    border-bottom: none;
}
/* menu */

#menu {
    display: none;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background-color: black;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: .75em;
    right: .75em;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}
/* Weather JS */
#weather-banner {

    position: relative;
    width: 100%;
    background-color: black;
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
    color: #F4F7F5;
}

#weather-banner button {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #F4F7F5;
}

/* hero banner */

.hero-image {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
}

#hero-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    top: 0;
    left: 0;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 62%;
    left: 32%;
    transform: translate(-50%, -50%);
    color: black;
    z-index: 10;
    width: auto;
    min-width: 60%;
}

.hero-text h2 {
    font-size: 3.5em;
}

a.button, .button {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.button {
    background-color: #ff4010;
    border: 1px solid black;
    border-radius: 50px;
    padding: 9px 20px;
    margin: 10px;
}
/* div container decoration - still working on this to be cohesive 4/7/24 */

.backsplash {
    display: block;
    margin: 1em 0;
    padding: 1em 1em;
    background-color: white;
    border-radius: 10px;
}
.backsplash h3 {
    font-family: "Caveat", cursive;
    font-size: 42px;
    margin: 10px auto 0;
}

a.index {
    text-decoration: none;
}
.btn {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: black;
    cursor: pointer;
    text-decoration: none;
    background-color: #ff4010;
    border: 1px solid black;
    border-radius: 1em;
    padding: 5px 10px;
}

/* main body */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack items vertically */
    min-height: 100vh;
}
/* four different types of main classes for each page */
main.thanks {
    text-align: center;
}

main.index {
    width: auto;
    text-align: center;
}

main.rentals {
    width: auto;
}

main.reservation {
    width: auto;
    text-align: left;
}

main.reservation h3 {
    text-align: center;
}

main.contact h2 {
    width: auto;
}
/* end of main css */
.contact-info {
    margin: 1em .25em;
    width: 400px;
}

.contact-info ul {
    list-style-type: none;
}
/* Location pics */
/* went to the root id and all images are affected - made responsive - 4/7/24 */

#locations img {
    margin: 0 auto;
    border-radius: .5em;
    box-shadow: 0 4px 8px 0 rgb(55, 55, 55), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    display: block;
    width: 95%;
    height: auto;
}
/* slideshow of rentals - from w3schools */
* {box-sizing: border-box}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: 2em;
}
.slideshow-container img{
    width: 100%;
    height: auto;
}

  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
}
 
  /* Position the "next button" to the right */
.next {
    right: -2.25em;
    border-radius:0 3px 3px 0;
}
.prev {
    left: -2.25em;
    border-radius: 3px 0 0 3px;
}
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}
  
/* Caption text */
.text {
    color: black;
    font-size: 1em;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
}
  
  /* Number text (1/5 etc) */
.numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

.slideshow-container .dot {
    text-align: center;
}
  /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

/* weather css */
#weather-info {
    background-color: rgb(187, 219, 238);
    padding: 1em;
    margin: 0 auto;
    border-radius: 1em;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 350px;
}

#weather-info h2 {
    margin-bottom: 10px;
    color: #333;
}

.weather-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.weather-item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.weather-item p {
    margin: 0;
    color: #333;
}

.weather-item p:first-child {
    font-weight: bold;
}

.weather-item p:last-child {
    font-style: italic;
}
/* pricing html */
/* table css */
#rental-table {
    border-collapse: collapse;
    margin-top: 20px; /* Adjust spacing as needed */
    width: auto; /* Set width to auto to only take up necessary space */
    border: 1px solid black;
}

#rental-table th {
    background-color: black;
    color: #F4F7F5;
    padding: 10px; /* Reduce padding for header */
}

#rental-table tbody tr:nth-child(even) {
    background-color: #dddddd; /* Alternate background color for even rows */
}

#rental-table tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Default background color for odd rows */
}

#rental-table td {
    padding: 8px; /* Reduce padding for cells */
    text-align: center;
}

.google-map{
    height: auto;
}
/* contact page */
.contact-form {
    width: 400px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.contact-form legend {
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding: 1em 0;
    margin-left: 1em;
    text-align: left;
}

.contact-form fieldset {
    margin: 20px auto;
    max-width: 100%;
    width: 450px;
    border: 1px solid #333;
    border-radius: 1em;
    grid-column: 1;
    grid-row: 2;
}

.contact-form label {
    display: block;
    margin-left: 1em;
    margin-bottom: .5em;
    font-weight: bold;
    text-align: left;
}

.contact-form input[type="submit"] {
    background-color: #FF780A;
    border: solid 1px black;
    border-radius: 2em;
    padding: 10px;
    margin: 0 auto .75em;
    width: 50%;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}
.contact-form select {
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
textarea {
    width: 100%;
    max-width: 400px;
    background-color: white;
    color: black;
    padding: 1em;
    border: 1px solid black;
    border-radius: .5em;
    margin-bottom: 1em;
    font-family: 'Raleway', sans-serif;

}
.info-list ul {
    list-style: none;
    margin: 2em;
}
.info-list {
    width: 400px;
}
.social-media img {
    width: 50px;
    height: auto;
    padding: 5px;
}

.social-media img:hover {
    transition: all 0.4s ease 0s;
    transform: scale(1.1);
}

footer {
    background-color: white;
    color: black;
    border-top: 1px solid black;
    margin-top: 4em;
    padding: 2em;
}

footer h2 {
    text-align: center;
}

footer ul li {
    display: inline;
    text-align: left;
    text-decoration: none;
}
/* media queries for larger screens */
@media screen and (max-width: 850px) {
    /* header */

    .logo img {
        height: 8em;
        margin: 5px;
    }
    h1 {
        margin-top: 0;
        text-align: center;
    }
    .navigation ul li {
        margin-top: 0;
        margin-bottom: 2px;
    }
    
    /* end of header */
    .button {
        font-size: 1em;
        padding: 5px 10px;
    }
}