/* Media query for small screens */
@media screen and (max-width: 850px) {
    /* header */
    .logo img {
        height: 8em;
        margin: 5px;
    }
    h1 {
        margin-top: 0;
        text-align: center;
    }
    .navigation {
        text-align: center;
    }
    .navigation ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navigation ul li {
        margin-top: 0;
        margin-bottom: 5px;
    }
    /* end of header */
    .button {
        font-size: 1em;
        padding: 5px 10px;
    }
    #locations {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 650px) {
    /* body adjustments */
    .header-lines,
    .footer-lines {
        display: none; 
    }
    
    .vertical-lines {
        display: none;
    }
    .logo img {
        display: block;
        margin: 10px auto;
    }

    header h1 {
        display: block;
        font-size: 65px;
        text-align: left;
    }

    .navigation {
        display: none;
    }

    .hamburger-menu {
        display: block; /* Show the hamburger menu */
        text-align: center; /* Center the hamburger menu */
    }
}
@media screen and (max-width: 500px) {
    header h1 {
        font-size: 55px;
        text-align: left;
    }
    .button {
        font-size: .75em;
        padding: 5px 10px;
    }
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }