/* Media query for small screens */

@media screen and (max-width: 650px) {
    /* body adjustments */
    .header-lines,
    .footer-lines {
        display: none; 
    }
    
    .vertical-lines {
        display: none;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    .logo {
        margin: auto;
    }
    .logo img {
        display: block;
        margin: auto;
    }

    header h1 {
        margin: auto;
        display: block;
        font-size: 65px;
        text-align: left;
    }

    .navigation ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        padding: 0 2em;
    }

    .navigation.open a {
        display: flex;
    }

    .navigation a {
        display: none;
        margin: 0 .5em .25em .5em;
    }

    #menu {
        display: block;
        text-align: center;
    }
}
@media screen and (max-width: 450px) {
    header h1 {
        font-size: 55px;
        text-align: left;
    }
    .button {
        font-size: .75em;
        padding: 5px 10px;
    }
}  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }