body {
    font-family: 'Poppins', san-serif;
    background-color: #E7DECD;
    margin: 0 auto;
}

header {
    background-color: #B5827D;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
}

main {
    display: grid;
    justify-content: space-around;
    margin: 20px;
}

section {
    margin: 10px;
}

.card {
    background-color: #FBFAF8;
    max-width:  340px;
    border: 1px solid #bbb;
    border-radius: 1rem;
}
.card img {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.card h3 {
    margin: 0;
    color: #FBFAF8;
    background-color: #698F3F;
    padding: 10px;
    text-align: center;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.card p {
    padding: 20px 25px;
}

footer {

    background-color: #B5827D;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}

/* Phone view */
@media only screen and (min-width: 400px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-around;
    }
}

/* Tablet view */
@media only screen and (min-width: 800px) {
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
        
}

/* Desktop view */
@media only screen and (min-width: 1000px) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}