/* Style sheet for Chamber of Commerce page */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Questrial&display=swap');

:root {
    /* Color Palette */
    --green: #214e34;
    --mint: #dff8eb;
    --blue: #3f4b64;
    --grey: #cdcdcd;

    /* Fonts */
    --heading-font: 'Cinzel', serif;
    --paragraph-font: 'Questrial', sans-serif;


    /* paragraph text on a colored background */
    --paragraph-background-color: #214e34;
    --nav-link-color: #011638;
    --nav-background-color: #dff8eb;
    --nav-hover-link-color: #3f4b64;
    --nav-hover-background-color: #cdcdcd;
}
/* base.css */

/* everything is working 2/29/24 */

body {
    font-family: 'Questrial', sans-serif;
    color: var(--blue);
    background-color: var(--mint);
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto 1fr auto auto;
}
/* this is for darkmode */
#mode {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    cursor: pointer;
    font-size: 2rem;
}

header {
    align-items: center;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
}

h1 h2 h3 {
    font-family: 'Cinzel', serif;
    color: var(--green);
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    margin: 0 auto; /* this confines the content within the grid - if taken out, it stretches the entire space */
    padding: 2em;
    grid-column: 1 / 4;
    grid-row: 3 / 5;
}

.events {
    border: 1px solid #000000;
    margin-bottom: 20px;
    padding: 1em;
}


.weather {
    border: 1px solid #000000;
    margin-bottom: 20px;
    padding: 1em;
}

.spotlight {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 1 / 4;
}

.spotlight-item {
    display: flex;
    padding: 1em;
    /* width: 100%; -- this makes the element fill the whole space */
    border: 1px solid #000000;
    margin-bottom: 20px;
    
}

/* Adding responsive menu */
/* small view navigation - remember larger.css file */

#menu {
    position: absolute;
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #344467;
	top: 2.5rem;
	right: 2.5rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}
/* the discover sidebar */

.grid-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    min-height: 100vh;
    width: 100%;
}

.sidebar {
    /* added first three lines to center the sidebar */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #214e34;
    border: 10px solid #12271b;
    border-radius: 2em;
    border-style: ridge;
    color: var(--mint);
    width: 75%;
}

.sidebar img {
    width: 250px;
    border: 1px solid #12271b;
}
.sidebar h3 {
    padding: 5px;
    font-size: 24px;
    text-align: center;
    /* border-bottom: 1px solid white; */
}

.sidebar p {
    padding: 5px;
    text-align: center;
}

.info {
    /* border: 1px solid white; */
    margin: 10px;
    padding: 20px;
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content img {
    margin: 10px;
    width: 50%;
    height: auto;
    border: 1px solid #242424;
    border-radius: 1em;
}

.content img:hover {
    width: 65%;
    transition: transform .5s;
    opacity: .8;
    transform: scale(1.02);
}

.content h3 {
    padding: 10px;
    margin-top: 25px;
}

/* top navigation from w3 schools*/

.topnav {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: var(--mint);
    color: #fff;
    justify-content: space-around;
    width: 100%;
    grid-column: 1 / 4;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--nav-link-color);
    flex-grow: 1;
    justify-content: center;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: var(--grey);
    color: var(--green);
    font-weight: 700;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: flex;
}

.active::before { 
	content: "📌";  /* just a wayfinding symbol for the user */
}

/* Add for the hero banner */

header.hero {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 100%;
    /* border: 1px solid black; */
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #12271b;
}

.hero-content h1 {
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    /* margin-bottom: 20px; */
}

.hero-content button {
    padding: 10px;
    font-size: 1rem; 
    background-color: var(--green);
    border-radius: 5em;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.hero-content button:hover {
    background-color: rgba(33, 78, 52, 0.9); /* 10% darker than #214e34 - hover effect */
}

img.flag {
    width: 50px;
}

footer {
    display: inline-block;
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    text-align: center;
    width: 100%;
}
/* Media query for smaller screen */

@media screen and (max-width: 40em) {
    /* .hero-content button {
        display: block;
    } */
    #menu {
        display: block; /* Show the menu on smaller screens */
    }
}