/* Style sheet for Chamber of Commerce page */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Questrial&display=swap');

:root {
    /* Color Palette */
    --green: #214e34;
    --mint: #dff8eb;
    --blue: #3f4b64;
    --grey: #cdcdcd;

    /* Fonts */
    --heading-font: 'Cinzel', serif;
    --paragraph-font: 'Questrial', sans-serif;
}

/* base.css */

main {
    display: flex;
    flex-direction: column; 
}

body {
    font-family: var(--paragraph-font);
    color: var(--blue);
    background-color: var(--mint);
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: var(--heading-font);
    color: var(--green);
}

nav {
    background-color: var(--grey);
    padding: 10px;
}


/* Add for the hero banner */
header.hero {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover; /* image covers the entire container */
    border: 2px solid #214e34;
    padding: 5px;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #dff8eb;
}

.hero-content h1 {
    font-family: var(--heading-font);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-content button {
    padding: 10px 20px;
    font-size: 1rem; 
    background-color: var(--green);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.hero-content button:hover {
    background-color: darken(var(--green), 10%); /* hover effect */
}

img.flag {
    width: 50px;
}
/* sidebar navigation */

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

@media screen and (max-width: 600px) {
    .hero-content button {
        display: inline-block;
    }
}