/* larger.css */

/* Default styles for larger screens */

@media (min-width: 40em) {
    #menu {
        display: none; /* hide hamburger button */
    }

    .topnav {
        flex-direction: row;
    }

    .topnav a {
        display: block;
        flex: 1 1 100%; /* this makes the nav links bigger */
    }
}