/* larger.css */

/* Default styles for larger screens */

@media (min-width: 600px) {

    #menu {
        display: none; /* hide hamburger button */
    }

    .topnav {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin: 0;
    }

    .topnav a {
        display: block;
        flex: 1 1 100%; /* this makes the nav links bigger - the area of the element */
    }

    header.hero {
        position: relative;
        height: 400px;
        overflow: hidden;
        border: 1px solid black;
    }
    
    .hero-content h1 {
        font-size: 2.5rem;
    }
}

/* everything is working 2/29/24 */