/* This is the style sheet for my main page for WDD-230 */

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Julius+Sans+One&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100&family=Raleway:ital,wght@0,100;0,200;1,100&display=swap');

body {
    font-family: 'Montserrat', 'Bradley Hand', sans-serif;
    background-color: #FCEDDA;
    color: #201E20;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto 1fr auto;
}

header {
    background-color: #EE4E34;
    padding: 15px;
    align-items: center;
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
}

h1 {
    padding-left: 20px;
}

img.picture {
    width: 200px;
    padding-right: 20px;
    border: 2px solid #201E20;
    padding: 5px;
    box-sizing: border-box;
}

h1, img.picture {
    margin: 0;
    align-self: center; /* Center both img.picture and h1 vertically */
}

nav {
    background-color: #201E20;
    text-align: center;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

/* nav ul.bullet {
    display: flex; lay horizontally
    flex-direction: column;
    padding: 0;
    margin: 0;
} */

#menu {
	font-size: 1.5rem;
    text-decoration: none;
	border: 0;
	background: none;
	color: #000;
	position: fixed;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "≡";
}

#menu.show::before {
	content: "❎";
}

/* when the button is clicked - the open class is toggled (added/removed) */
.show a {
	display: block;
}

.active::before {
	content: "📌 "; 
}

.bullet {
    display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
}

.bullet a {
	display: none;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;   
    color: white;
}

.bullet a:hover, .bullet a:active {
	color: #FCEDDA;
    text-decoration: underline;
	font-weight: 700;
}

main {
    max-width: 800px;
    margin: 0 auto;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

h2 {
    text-align: center;
    border-bottom: 1px solid #363636;
    padding-bottom: 8px;
    width: 100%;
}

h3 {
    background-color: #EE4E34;
    padding: 15px;
    margin: 0;
    text-align: center;
}

.card {
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

li {
    padding: 8px;
}

img.flag {
    width: 50px;
}

footer {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    text-align: center;
}

/* Media Query for larger screens */
@media screen and (min-width: 600px) {
    main {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between; 
    }

    .card {
        width: 48%; 
        margin-bottom: 10px; 
    }

    nav ul.bullet {
        flex-direction: row; 
        justify-content: space-evenly; 
    }
    
    nav ul li {
        flex: 1 1 100%;
    }

    .bullet {
		flex-direction: row;
	}
	.bullet li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.bullet a {
		display: block;
		flex: 1 1 100%;
	}
	#menu {
		display: none;
	}
}