/* This is the style sheet for my main page for WDD-230 */

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Julius+Sans+One&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100&family=Raleway:ital,wght@0,100;0,200;1,100&display=swap');

body {
    font-family: 'Montserrat', 'Bradley Hand', sans-serif;
    background-color: #FCEDDA;
    color: #201E20;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto 1fr auto;
}

/* everything is working 3/5/24 */
/* everything is working 3/5/24 */

header {
    background-color: #EE4E34;
    padding: 15px;
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    padding-left: 20px;
}

img.picture {
    width: 200px;
    padding-right: 20px;
    border: 2px solid #201E20;
    padding: 5px; 
    box-sizing: border-box; 
}

h1, img.picture {
    margin: 0;
    align-self: center; /* Center both img.picture and h1 vertically */
}

/*This is all new css code that I am writing out to get the hamburger menu to work*/

#menu {
    font-size: 1.5rem;
    border: 0;
    background-color: #201E20;
    color: #FCEDDA; /*color of bars and X*/
    position: fixed;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.bullet {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #201E20;
    color: #FCEDDA;
    line-height: .5em;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.bullet a {
    display: none;
    padding: .5rem; /* space between links */
    text-align: center;
    text-decoration: none;
    color: white;
    
}
/* how the links act when you hover. The area, not just the link is active */
.bullet a:hover {
    color: #FCEDDA;
    font-weight: 700;
}

.open a {
    display: block; /*this expands the menu but I need to figure out how to close it. edit - I did figure it out ;) */
}

.active::before {
	content: "📌"; /*works - this adds the pin to the link that is active.*/
}

.map {
    width: 100%;
    gap: 10px;
}
/*This is the end of all new css code that I am writing out to get the hamburger menu to work*/

/* Weather API week 10 */

.weather {
    font-size: larger;
    color: #201E20;
    padding: 10px;
  }
  #weather-icon {
    vertical-align: middle;
    background-color: #8fb1f4;
    margin: 1rem;
  }

main {
    display: block;
    margin: 0 auto;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.hero {
    position: relative;
    width: 100%;
    grid-column: 1 / 4;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.herolabel {
    position: absolute;
    top: 50%;
    left: 2rem;
    background: radial-gradient(#fff, #804608);
    border-radius: 5em;
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 1.5rem;
    box-shadow: 0 0 2rem #201E20;
    opacity: 0.75;
    font-weight: bolder;
    font-size: large;
}

h2 {
    text-align: center;
    padding: 25px;
    width: 100%;
    font-size: 36px;
}

h3 {
    background-color: #EE4E34;
    padding: 15px;
    margin: 0;
    text-align: center;
}

.card {
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.card {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.card > * {
    margin-bottom: 20px;
    text-align: center;
}

.links {
    text-align: left;
    margin-left: 1rem;
}

.label {
	font-weight: 700;
}

.visits {
	color: #201E20;
	font-weight: bolder;
	font-size: larger;
}

li {
    padding: 8px;
}

img.flag {
    width: 50px;
}

footer {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    text-align: center;
}

/* Media Query for larger screens */
@media screen and (min-width: 40em) {
    main {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
        padding: 20px;
    }

    .herolabel {
        position: absolute;
        top: 50%;
        left: 10rem;
    }

    .bullet ul {
        display: flex; /* this lays the menu horizontal */
        padding: 10px;
        margin: 0;
    }

    .bullet li {
        display: block; /* change state in small view*/
        flex: 1 1 100%;
    }
    
    .bullet a {
        display: block;
    }

    .card {
        width: 48%; 
        margin-bottom: 10px; 
    }

    #menu {
        display: none;  /* first of hamburger code - turn off */
    }
}